@use "/src/theme/colors.scss";
@use "/src/theme/screens.scss";
@use "/src/theme/fonts.scss";

$selection-border: #ffffff;

@keyframes rotationAnim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes translationAnim {
  0% {
    bottom: 12%;
  }

  50% {
    bottom: 60%;
  }

  100% {
    bottom: 12%;
  }
}

figure.planet {
  position: absolute;
  margin: 0;
  border-radius: 50%;
  border: solid 2px #{$selection-border}00;
  transition: 0.3s all;

  &:hover:not(.unLink) {
    transform: scale(1.1);
    border: solid 2px $selection-border;
    border-radius: 32px;
    padding: 0.25rem;
    opacity: 1;
  }

  &:hover figcaption {
    opacity: 1;
  }

  img:not(.ring) {
    width: 100%;
    height: 100%;
    animation-play-state: paused;

    &:hover {
      animation-play-state: running;
    }
  }

  .ring {
    width: 140%;
    position: absolute;
    left: -20%;
    top: 22%;
  }

  figcaption {
    pointer-events: none;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: colors.$text;
    transition: 0.2s all ease-in-out;

    .title {
      font-family: fonts.$planet-title;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2rem;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 65px;
        height: 2px;
        margin: 6px auto;
        background-color: #ffffff;
      }
    }

    .description {
      font-size: 1.2rem;
      font-family: fonts.$planet-description;
      text-align: center;
    }
  }
}

@media (max-width: screens.$tablet-max) {
  figure.planet {
    position: relative;
    width: 50% !important;
    animation: none !important;
    margin: 0.5rem;

    figcaption {
      opacity: 1;
    }
  }
}
