@use "/src/theme/colors.scss";
@use "/src/theme/screens.scss";

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

$fonts-main: "Audiowide", sans-serif;
$fonts-secondary: "Oxanium", sans-serif;

@keyframes rotationAnim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes translationAnim {
  0% {
    bottom: 30%;
  }

  25% {
    bottom: 10%;
  }

  75% {
    bottom: 65%;
  }

  100% {
    bottom: 30%;
  }
}

figure.planet {
  position: absolute;

  margin: 0;

  border-radius: 50%;

  transition: 0.3s all;

  &:hover {
    transform: scale(1.05);
  }

  img:not(.ring) {
    width: 100%;
    height: 100%;

    animation-play-state: paused;

    &:hover {
      animation-play-state: running;
    }
  }

  .ring {
    width: 140%;

    position: absolute;
    left: -20%;
    top: 22%;
  }

  figcaption {
    opacity: 0;
    width: 100%;

    display: flex;
    position: absolute;
    flex-direction: column;

    color: colors.$text-primary;

    background-color: #ccc;
    padding: 0.2rem 0;
    border-radius: 8px;

    transition: 0.2s all ease-in-out;

    .title {
      font-family: $fonts-main;
      font-weight: bold;
      text-transform: uppercase;

      text-align: center;
    }

    .description {
      font-family: $fonts-secondary;

      text-align: center;
    }
  }

  &:hover figcaption {
    opacity: 1;
  }
}

@media (max-width: screens.$tablet-max) {
  figure.planet {
    position: static;
  }
}
