@use "/public/theme/colors.scss";

figure.planet {
  position: absolute;

  margin: 0;

  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition: 0.3s all;

    &:hover {
      transform: scale(1.05);
    }
  }

  figcaption {
    display: none;

    color: colors.$text-primary;
    background-color: colors.$background-secondary;
    padding: 1rem;
    border-radius: 8px;
  }

  &:hover figcaption {
    display: inline;
    position: fixed;
  }
}

@media (max-width: 700px) {
  figure.planet {
    position: static;
  }
}
