@use "/src/theme/colors.scss";

$star-color: #ffffff;

@keyframes starAnim {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.5) rotate(25deg);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.star {
  position: absolute;

  transition: 1s all;

  filter: blur(1px);

  box-shadow: 0 0 0 0;

  &:before,
  &::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 100% + 3;

    background: $star-color;
  }

  &:before {
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }

  &:after {
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }

  &.starAnimation {
    animation: starAnim 5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }
}
