@keyframes starAnim {
  75% {
    transform: scale(1.5) rotate(40deg);
  }

  100% {
    transform: scale(1);
  }
}

#star {
  width: 5px;
  height: 5px;
  right: 100px;
  top: 100px;
  position: absolute;
  transition: 1s all;

  &:before,
  &::after {
    content: "";
    position: absolute;
    background: white;
    width: 5px;
    height: 8px;
  }

  &:before {
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }

  &:after {
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }

  &:not(:not(.starAnimation)) {
    animation: starAnim 5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    box-shadow: 0 0 30px 4px #fff;
  }
}
