@use "/public/theme/colors.scss";

$size: 4px;

@keyframes starAnim {
  50% {
    transform: scale(1.5) rotate(25deg);
  }

  100% {
    transform: scale(1);
  }
}

.star {
  position: absolute;

  transition: 1s all;

  filter: blur(1px);

  &:before,
  &::after {
    content: "";

    position: absolute;
    width: $size;
    height: $size + 3;

    background: colors.$star;
  }

  &:before {
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }

  &:after {
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }

  &:not(:not(.starAnimation)) {
    animation: starAnim 5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    box-shadow: 0 0 35px 7px colors.$star;
  }
}
